<h1>Surgery Information</h1>

<h2>Doctor:<%=@surgery.doctor.name%></h2>
<h3>Nurse:<%=@surgery.nurse.name%></h3>
<h4>Patient:<%=@surgery.patient.name%></h4>

<p>Procedure:<%=@surgery.patient.need%></p>
<p>Time: <%=@surgery.time%></p>


<%=button_to "Cancel Surgery", "/surgeries/#{@surgery.id}", method: "delete"%><br>

<%=button_to "Update Surgery", "/surgeries/#{@surgery.id}/edit", method: "get"%><br>

<%=link_to "Back to Surgeries", "/surgeries/", method: "post" %>








